*
{
    outline: none;
}
.bold
{
    font-weight: bold;
}
form
{
    padding: 15px;
}
.form
{
    width: 450px;
    height: 230px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-top-width: 1px;
    border-color: #158CBA;
    border-radius: 0.25rem;
    
}
.button-field
{
    text-align: center;
    pointer-events: all;
}
.alert
{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 999;
}
.register
{
    height: 538px;
}
nav
{
    z-index: 99999;
}
.news
{
    margin-bottom: 40px;
}
.titolo
{
    color: #158CBA !important;
}
.blue-border
{
    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-top-width: 1px;
    border-color: #158CBA;
    border-radius: 0.25rem;
    border-bottom: 4px solid #127ba3;
}
.news a 
{
    text-decoration: none;
}
.floated img
{
    width: 600px;
}
.floated
{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.testo-news
{
    font-size: medium;
}
.font-medium
{
    font-size: medium;
}
.image-profile
{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.image-profile img
{
    position: absolute;
    margin: auto; 
    min-height: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    width: 200px;
}
.photo-border
{
    border: 3px solid #158CBA;
    border-radius: 50%;
}
.date
{
    font-size: 20px;
    font-weight: normal;
}
#txtCommento
{
    resize: none;
}
.testo-commento
{
    font-size: small;
}
.comment-separator
{
    border: 1px solid #158CBA;
}
.tox-notifications-container
{
    display: none;
}
.tox-statusbar__branding
{
    display: none;
}
.tox .tox-menubar
{
    display: none !important;
}
.tox-tinymce
{
    border-style: solid !important;
    border-width: 0 1px 4px 1px !important;
    border-top-width: 1px !important;
    border-color: #158CBA !important;
    border-radius: 0.25rem !important;
    border-bottom: 4px solid #127ba3 !important;
}
#txtLinkFoto
{
    display: none;
}
.categoria,
.categoria-scelta
{
    margin-right: 10px;
}
.my-alert
{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 999;
}
.tox-tbtn__select-label
{
    display: none !important;
}
.tox .tox-tbtn--select
{
    display: none !important;
}